@model DeleteCustomerViewModel


<h1>Bekræft sletning af kunde</h1>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Ønsker du at slette denne kunde?</h3>
    </div>
    <div class="panel-body">
        <form asp-controller="Customer" asp-action="DeleteComment" asp-route-id="@Model.Id" method="post">
            <dl class="dl-horizontal">
                <dt>
                    <label asp-for="Name"></label>
                </dt>
                <dd>
                    @Model.Name
                </dd>
                <dt>
                    <label asp-for="Address"></label>
                </dt>
                <dd>
                    @Model.Address
                </dd>
            </dl>
            <input type="submit" value="Slet" class="btn btn-danger" />
        </form>
    </div>
</div>
<div>
    <a asp-action="All">Tilbage til oversigten</a>
</div>